altair==5.5.0 Bibliothèque de visualisation de données déclarative en Python, basée sur Vega-Lite. Utile pour créer des graphiques interactifs.
csv==1.0 Module intégré de Python pour lire et écrire des fichiers CSV. 
deepface==0.0.93
fer==22.5.1
fpdf==1.7.2
librosa==0.11.0
matplotlib==3.10.3
numpy==1.26.4
opencv-python==4.11.0.86
os==0.1.4
pandas==2.2.3
pyAudioAnalysis==0.3.14
scikit-learn==1.6.1
scipy==1.15.3
soundfile==0.13.1
streamlit==1.45.1
torch==2.7.1
torchAudio==2.7.1
sentence_transformers==2.6.1
transformers==4.41.1
# To install the dependencies, run the following command in your terminal:
.venv\Scripts\activate